/* css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #133240;
    font-family: "Manrope", sans-serif;

}

/* global css  */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 42.78px;
    font-weight: 700;
    line-height: 58.44px;
    letter-spacing: 0.02em;
    /* text-align: center; */
    margin-bottom: 10px;
}

h3 {
    font-size: 29.41px;
    font-weight: 600;
    line-height: 40.18px;
    letter-spacing: 0.02em;

}

p {
    font-size: 29.41px;
    font-weight: 400;
    line-height: 40.18px;
    letter-spacing: 0.02em;
    text-align: left;

}

#main-wrapper {
    /* height: 100vh; */
    width: 100%;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/Background.png');
    background-position: center;
    background-size: cover;

}

.header {
    margin-bottom: 74px;
}

/* testimonial carousel backgroud image   */
.client-testimonial-container {
    height: 80%;
    width: 80%;
    position: relative;
}

.Testimonials-cards {
    width: 100%;
    display: flex;
    gap: 30px;
}

.item {
    flex: 0 0 550px;
    padding: 32.08px;
    gap: 16.04px;
    border-radius: 5.35px;
    border: 1px solid #E7EAEC;
    background: #fff;
}



.upper {
    display: flex;
    justify-content: space-between;
}

.upper .image-containr {
    width: 80.21px;
    height: 80.21px;

}

.item p {
    font-size: 20px;
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .testimonial-slider {
    overflow: hidden;
}

.Testimonials-cards {
    overflow-x: auto;
} */
@media only screen and (min-width: 260px) and (max-width: 550px) {
    h2 {
        font-size: 32px;
        line-height: 35px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    line-height: 30px;
    }
}